add_newline = true

format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$git_metrics\
$character
"""

[character]                           
success_symbol = "[â¯](bold yellow)"     


[package]
disabled = true

